body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}
p {
    font-size: 30px;
}
a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.header {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}
.menu li {
    margin-left: 10px;
}
.menu li a {
    display: block;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        width: 100%;
        height: initial;
    }
}
